<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>RelayBots Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid  class="ion-margin-top">
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-row>
            <ion-col size="12">
              <h1>Currently watching bot: {{signalrService.botdata?.botId}}
                @if (signalrService.liveData) {
                  <ion-text color="success">
                    <h1>Live data</h1>
                  </ion-text>
                }
                @else {
                  <ion-text color="danger">
                    <h1>Offline</h1>
                  </ion-text>
                }
              </h1>
              <hr>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center" size="3"><ion-title class="ion-margin-bottom">Line sensor</ion-title>
              <ion-card class="ion-margin-top">
                  <h3>Bot is currently:</h3>
                  @if (signalrService.botdata?.isOnLine) {
                    <ion-text color="success">
                      <h3>On the line</h3>
                    </ion-text>
                  } 
                  @else {
                    <ion-text color="danger">
                      <h3>Off the line</h3>
                    </ion-text>
                  }
              </ion-card>
            </ion-col>
            <ion-col class="ion-text-center" size="6"><ion-title class="ion-margin-bottom">Motors</ion-title>
              <ion-row>
                <ion-col size="6">
                  <ion-button color="primary" expand="block">Left</ion-button>
                  <ion-card color="success" class="ion-padding" disabled={{leftMotor()[0]}}>   
                  </ion-card>
                  <ion-card color="success" class="ion-padding" disabled={{leftMotor()[1]}}>
                  </ion-card>
                  <ion-card color="success" class="ion-padding" disabled={{leftMotor()[2]}}>
                  </ion-card>
                  <ion-card color="success" class="ion-padding" disabled={{leftMotor()[3]}}>
                  </ion-card>
                  <ion-card color="success" class="ion-padding" disabled={{leftMotor()[4]}}>
                  </ion-card>
                  <ion-text color="primary">
                    <h3>{{signalrService.botdata?.motorsSpeed}} %</h3>
                  </ion-text>
                </ion-col>
                <ion-col size="6">
                  <ion-button color="primary" expand="block">Right</ion-button>
                  <ion-card color="success" class="ion-padding" disabled={{rightMotor()[0]}}>   
                  </ion-card>
                  <ion-card color="success" class="ion-padding" disabled={{rightMotor()[1]}}>
                  </ion-card>
                  <ion-card color="success" class="ion-padding" disabled={{rightMotor()[2]}}>
                  </ion-card>
                  <ion-card color="success" class="ion-padding" disabled={{rightMotor()[3]}}>
                  </ion-card>
                  <ion-card color="success" class="ion-padding" disabled={{rightMotor()[4]}}>
                  </ion-card>
                  <ion-text color="primary">
                    <h3>{{signalrService.botdata?.motorsSpeed}} %</h3>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col class="ion-text-center" size="3"><ion-title class="ion-margin-bottom">Distance sensor</ion-title>
            <ion-card class="ion-margin">
              <ion-card-header>
                <ion-card-title>Readings</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item class="ion-no-padding">
                    <ion-label>Distance Front</ion-label>
                    <ion-badge color="primary" mode="md">{{signalrService.botdata?.sensorFrontDistance}}</ion-badge>
                  </ion-item>
                  <ion-item class="ion-no-padding">
                    <ion-label>Distance Left</ion-label>
                    <ion-badge color="primary" mode="md">{{signalrService.botdata?.sensorLeftDistance}}</ion-badge>
                  </ion-item>
                  <ion-item class="ion-no-padding">
                    <ion-label>Distance Right</ion-label>
                    <ion-badge color="primary" mode="md">{{signalrService.botdata?.sensorRightDistance}}</ion-badge>

                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-grid>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-row>
            <ion-col size="12">
              <h1>Available bots:</h1>
              <hr>
            </ion-col>
            <ion-col size="4">
              <ion-card class="bot-minicard" (click)="changeBot(1)">
                <ion-card-header>
                  <ion-card-subtitle>Bot number: 1</ion-card-subtitle>
                  <ion-card-title>Line Follower</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-thumbnail slot="start">
                    <img alt="Silhouette of mountains" src="../assets/3.jpg" />
                  </ion-thumbnail>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="4">
              <ion-card class="bot-minicard" (click)="changeBot(2)">
                <ion-card-header>
                  <ion-card-subtitle>Bot number: 2</ion-card-subtitle>
                  <ion-card-title>Line Maze Solver</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-thumbnail slot="start">
                    <img alt="Silhouette of mountains" src="../assets/1.jpg" />
                  </ion-thumbnail>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="4">
              <ion-card class="bot-minicard" (click)="changeBot(3)">
                <ion-card-header>
                  <ion-card-subtitle>Bot number: 3</ion-card-subtitle>
                  <ion-card-title>Physical Maze Solver</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-thumbnail slot="start">
                    <img alt="Silhouette of mountains" src="../assets/2.jpg" />
                  </ion-thumbnail>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>